@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    list-style: none;
}

#front-page {
    height: 45vh;
    background-image: url('https://static.wixstatic.com/media/ea71bb_04fa8a795ad24075b39c085d743035a2~mv2_d_6284_1717_s_2.jpg/v1/fill/w_1754,h_655,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea71bb_04fa8a795ad24075b39c085d743035a2~mv2_d_6284_1717_s_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

#message-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(106%) contrast(103%);
}


#best-books-wrapper {
    width: 630px;
}

#add-cart, #quick-view {
    opacity: 0;
}

#add-cart {
    transition: opacity 0.5s ease, background-color 0.4s ease;
}

#quick-view{
    transition: opacity 0.5s ease, transform 0.3s ease;
}

#quick-view {
    transform: translateY(25%);
}

#book-item:hover #quick-view{
    opacity: 1;
    transform: translateY(0%);
}

#book-item:hover #add-cart {  
    opacity: 1;
}

#add-cart:hover {
    background-color: white;
    color: black;
}

#book-item {
    transition: transform 0.5s ease;
    width: 95%;
}

#arrow-right, #arrow-left{
    top: 95px;
}

.margin {
    padding-left: 5px;
}

#cart-center {
    height: calc(100% - 26%);
}

#view-cart-container {
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#view-cart {
    transition: transform 0.7s ease;
}

.slide-left {
    transform: translateX(0);
}

.cart-container-extended {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}


@media screen and (min-width: 400px){
    #front-page {
        height: 60vh;
    }
}

@media screen and (min-width: 500px){
    #front-page {
        height: 80vh;
        
    }
}

@media screen and (min-width: 700px){

    #best-books-wrapper {
        transform: translateY(-33%);
    }

}

@media screen and (min-width: 1024px){
   
    #best-books-wrapper {
        width: 900px;
    }



}