
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#front-page {
    height: 45vh;
    background-image: url('https://static.wixstatic.com/media/ea71bb_04fa8a795ad24075b39c085d743035a2~mv2_d_6284_1717_s_2.jpg/v1/fill/w_1754,h_655,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea71bb_04fa8a795ad24075b39c085d743035a2~mv2_d_6284_1717_s_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


@media screen and (min-width: 400px){
    #front-page {
        height: 60vh;
    }
}

@media screen and (min-width: 500px){
    #front-page {
        height: 80vh;
        
    }
}
